@use "vars" as *;


.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
}


.c-ft{
	&--kr{
		font-family:$font-notoSan !important;
	}
	&--kr-serit{
		font-family:$font-notoSerif !important;
	}
	&--kh{
		font-family: $font-KoHo !important;
	}
}






.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}



// Image position control
.c-pull{
	&--left{
		margin-left: calc(((100vw - 100%) / 2) * -1)
	}
	&--right{
		margin-right: calc(((100vw - 100%) / 2) * -1)
	}
}










/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__basic{

	}
}




//ttl
.c-ttl{
	&__01{
		display: block;
		text-align: center;
		@include font-size(40);
		letter-spacing: 7px;
		font-weight: bold;
		line-height: 1.2;
		color: #CEB3A4;
		margin-bottom: 40px;
		@include mq(){
			@include font-size(30);
			letter-spacing: 4px;
		}
		span{
			display: inline-block;
			position: relative;
			padding: 0 20px 0 30px;
			&:before,&:after{
				position: absolute;
				bottom: 6px;
				content: "/";
				@include font-size(25);
				@include mq(){
					@include font-size(18);
					bottom: 3px;
				}
			}
			&:before{
				left: 0;
			}
			&:after{
				right: 0;
			}
		}
	}

}

//btn
.c-btn{
	&__01{

	}
}
