@use "vars" as *;

#footer{
	background: #e5e8ea;
	padding: 50px 0;
	@include mq(){
		padding: 50px 0 80px;
	}
	.inner{
		max-width: 900px;
	}
	.footer-block{
		@include flex(0,center,wrap);
		&__logo{
			display: block;
			width: 180px;
			@include mq(){
				width: 130px;
				margin-bottom: 20px;
			}
		}
		&__ct{
			width: calc(100% - 180px);
			padding: 0 0 0 50px;
			@include font-size(14);
			line-height: 1.8;
			@include mq(){
				width: 100%;
				padding: 0;
			}
			p{
				margin-bottom: 20px;
			}
			&-tel{
				@include flex(0,center,wrap);
				@include font-size(30);
				font-weight: bold;
				z-index: 2;
				color: #333;
				i{
					display: inline-block;
					@include font-size(20);
					color: #B60737;
					margin: 0 10px 0 0;
				}
			}
			&-list{
				li{
					@include font-size(14);
					position: relative;
					padding: 0 0 0 20px;
					margin: 0 20px 5px 0;
					font-weight: bold;
					color: #555555;
					&:before{
						content: "\f35a";
						font-weight: bold;
						font-family: "Font Awesome 6 Free";
						color: #AE8770;
						position: absolute;
						top: -1px;
						left: 0;
					}
				}
			}
			&-note{
				@include font-size(12);
				color: #777777;
			}
		}
	}
}

.block-note{
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 5px;
	@include flex(0,0,wrap);
	z-index: 10;
	li{
		width: 50%;
		a{
			@include flex(center,center,wrap);
			color: white;
			@include font-size(18);
			line-height: 1;
			padding: 10px 0;
			small{
				display: inline-block;
				@include font-size(10);
			}
			i{
				display: inline-block;
				margin: 0 7px 0 0;
				@include font-size(15);
			}
			small{
				display: inline-block;
				font-weight: 400;
				position: relative;
				top: 2px;
				margin: 0 0 0 2px;
			}
		}
	}
	&__tel{
		background: #C91D6E;
		font-weight: bold;
	}
	&__mail{
		background: #2F4E6E;
	}
}