<footer id="footer">
	<div class="inner">
		<div class="footer-block">
			<a href="" class="footer-block__logo">
				<img src="<%= RELATIVE_PATH %>img/logo-footer.png" alt="THE MARKONE">
			</a>
			<div class="footer-block__ct">
				<a href="tel:1688-8343" class="footer-block__ct-tel c-ft--kh"><i class="fa-solid fa-phone"></i>1688-8343</a>
				<ul class="footer-block__ct-list">
					<li>여의대방 더 마크원</li>
				</ul>
				<p>
					서울 영등포구 신길동 459-5번지 일원 | kjasbg@naver.com<br>
					※ 본 사이트에서 사용된 이미지는 소비자의 이해를 돕기 위한 것으로, 실제와 다를 수 있습니다.<br>
					Copyright © 여의대방더마크원.kr ALL RIGHTS RESERVED.
				</p>
				<div class="footer-block__ct-note">※ 본 사이트에 대한 무단 도용 및 복제 사용을 금지하며, 위반시 법적제재를 받을수 있습니다.(By BIGTHINKERS)</div>
			</div>
		</div>
	</div>
</footer>