<header id="header">
	<div class="inner">
		<a href="<%= RELATIVE_PATH %>" class="header-logo">
			<img src="<%= RELATIVE_PATH %>img/logo.png" alt="THE MARKONE">
		</a>
		<nav class="header-nav">
			<ul class="header-nav__menu">
				<li class="header-nav__menu-item">
					<a href="" class="<% if(pageData.template == 'index'){ %> active <% } %>">홈</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">사업개요</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">입지가치</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">배치도</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="" class="header-nav__menu-sub">평면</a>
					<ul class="header-nav__menu-submenu">
						<li><a href="">52㎡A 평면</a></li>
						<li><a href="">59㎡A, 59㎡B 평면</a></li>
						<li><a href="">84㎡A, 84㎡B 평면</a></li>
					</ul>
				</li>
				<li class="header-nav__menu-item">
					<a href="">배치도</a>
				</li>
			</ul>
		</nav>
		<a href="tel:1688-8343" class="header-tel c-ft--kh"><i class="fa-solid fa-phone"></i>1688-8343</a>
		<span class="js-mobile">
			<span></span>
		</span>
	</div>
</header>